@import "tailwindcss";
@plugin "flowbite/plugin";

@theme {
  /* Warna Brand (Biru) */
  --color-brand: #1d4ed8;
  --color-brand-strong: #1e40af;
  --color-brand-medium: #3b82f6;
  --color-brand-soft: rgba(59, 130, 246, 0.5);
  --color-fg-brand: #2563eb;

  /* Warna Text & Background */
  --color-heading: #111827;
  --color-body: #6b7280;
  --color-neutral-secondary-medium: #f3f4f6;
  --color-default-medium: #d1d5db;

  /* Border Radius */
  --radius-base: 0.5rem;
  --radius-xs: 0.25rem;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: 'Inter';
}