@import "tailwindcss";
@plugin "flowbite/plugin";

* {
  box-sizing:border-box
}

.leaflet-control-attribution {
  display: none !important;
}
.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}
.leaflet-container {
  z-index: 0 !important;
}

@theme {
  /* Warna Brand (Biru) */
  --color-brand: #1d4ed8;
  --color-brand-strong: #1e40af;
  --color-brand-medium: #3b82f6;
  --color-brand-soft: rgba(59, 130, 246, 0.5);
  --color-fg-brand: #2563eb;

  /* Warna Text & Background */
  --color-heading: #111827;
  --color-body: #6b7280;
  --color-neutral-secondary-medium: #f3f4f6;
  --color-default-medium: #d1d5db;

  /* Border Radius */
  --radius-base: 0.5rem;
  --radius-xs: 0.25rem;
  --border: #F3F4F3;

}

:root {
  --primary: #165DFF;
  --primary-hover: #0E4BD9;
  --background: #ffffff;
  --foreground: #080C1A;
  --secondary: #6A7686;
  --muted: #EFF2F7;
}

body {
  font-family: 'Inter';
}
.leaflet-container {
  z-index: 0 !important;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}


/* DOT PULSE ANIMATE */
.dot-pulse {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4CAF50; /* Warna untuk dot */
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
